<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>LOGOWANIE</title>
</head>
<div layout:fragment="content" class="content">
    <div class="container d-flex align-items-center justify-content-center">
        <form action="/uzytkownik/zmienhaslo" th:action="@{/uzytkownik/zmienhaslo}" method="post">

            <div class="text-center">
                <div class="text-center mt-4">formularz zmiany hasła:</div>
                <input  name="password" type="password" placeholder="nowe hasło" class="form-control mt-3"/>
                <div class="mt-5">Po zmianie hasła nastąpi automatyczne wylogowanie. Przy kolenym logowaniu użyj NOWEGO hasła</div>
                <button type="submit" class="btn btn-outline-secondary mt-3">ZMIEN HASLO</button>
            </div>
        </form>
    </div>

</div>
</html>